@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// created by codobred
/// https://github.com/codobred
///

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}